<footer id="footer">
    <section>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        
        <section>
            <h3>Phone</h3>
            <p>+375 (29) 243-63-02</p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="https://e.mail.ru/inbox/">denis_aleksandrov_12@mail.ru</a></p>
        </section>
        <section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li><a href="https://www.linkedin.com/in/denis-aleksandrov-000976211/" class="icon brands fa-linkedin-in"><span class="label">In</span></a></li>
                <li><a href="https://t.me/qweed4" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a href="https://vk.com/aleksssandrov" class="icon brands fa-vk"><span class="label">VK</span></a></li>
                <li><a href="https://github.com/Denis772-create" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </section>
    </section>
</footer>