<nav id="nav">
    <ul class="links">
        @if (!User.Identity.IsAuthenticated)
        {
            <li><a asp-controller="Home" asp-action="Index">Main</a></li>
            <li><a asp-controller="Position" asp-action="GetTable">Positions</a></li>
            <li><a asp-controller="Employee" asp-action="TableEmployeeByPositions">Employees</a></li>
        }
        @*else
        {
            <li><a asp-controller="Home" asp-action="Index" onclick="return confirm('For further actions, you need to log in. Do you agree?')">Main</a></li>
            <li><a asp-controller="Position" asp-action="GetTable" onclick="return confirm('For further actions, you need to log in. Do you agree?')">Positions</a></li>
            <li><a asp-controller="Employee" asp-action="TableEmployeeByPositions" onclick="return confirm('For further actions, you need to log in. Do you agree?')">Employees</a></li>
        }*@
    </ul>
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/denis-aleksandrov-000976211/" class="icon brands fa-linkedin-in"><span class="label">In</span></a></li>
        <li><a href="https://t.me/qweed4" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
        <li><a href="https://vk.com/aleksssandrov" class="icon brands fa-vk"><span class="label">VK</span></a></li>
        <li><a href="https://github.com/Denis772-create" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>