@model EmployeeForAddingToPositionVm
<div id="main">
    <header class="major">
        <h2>Create new position in our company</h2>
    </header>
    <form method="post" asp-antiforgery="true" asp-action="AddNewEmployee">
        <div class="row gtr-uniform">
            <!--  -->
            <div class="col-6 col-12-xsmall">
                <span asp-validation-for="FirstName"></span>
                <input type="text" asp-for="FirstName" placeholder="FirstName"/>
                <input type="hidden" asp-for="PositionId" value="@ViewBag.PositionId"/>
            </div>
            <!--  -->
            <div class="col-6 col-12-xsmall">
                <input type="text" asp-for="Surname" placeholder="Surname" />
            </div>
            <!--  -->
            <div class="col-6 col-12-xsmall">
                <input type="text" asp-for="Country" placeholder="Country" />
            </div>
            <!--  -->
            <div class="col-6 col-12-xsmall">
                <input type="text" asp-for="City" placeholder="City" />
            </div>
            <!--  -->
            <div class="col-6 col-12-xsmall">
                <input type="text" asp-for="Street" placeholder="Street" />
            </div>
            <!--  -->
            <div class="col-6 col-12-xsmall">
            </div>

            <div class="col-4 col-12-xsmall">
                <span asp-validation-for="Phone"></span>
                <input type="tel" asp-for="Phone" placeholder="Phone"/>
            </div>
            <!--  -->
            <div class="col-4 col-12-xsmall">
                <span asp-validation-for="Age"></span>
                <input type="number" asp-for="Age" placeholder="Age"/>
            </div>
            <!--  -->
            <div class="col-4 col-12-xsmall">
                <span asp-validation-for="RequiredSalary"></span>
                <input type="number" asp-for="RequiredSalary" placeholder="RequiredSalary"/>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Add" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.scrollBy(0, 700);
    });
</script>
